<h1>メッセージ一覧</h1>

<ul>
  <% @tasks.each do |task| %>
     <li><%= link_to task.id, task %></li>
     <li><%= task.content %></li>
  <% end %>
</ul>
<%= paginate @tasks %>

<%= link_to '新規メッセージの投稿', new_task_path, class: "btn btn-primary" %>